.demo {
 overflow: scroll;
  :global {
    .title {
      height: 15vh;
      line-height: 5vh;
      text-align: center;
      border-bottom: 1PX solid #eee;
      background-color: #fff;
    }

    .content {
      background-color: rgba(127, 255, 212, .8);
      &.with-fixed {
        .list-bar {
          position: fixed;
          top: 0;
          width: 100%;
        }
      }
      &.loading::after {
        content: '加载中...';
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 28px;
      }
    }
    .filter-bar {
      height: 15vw;
      background-color: #888;
      display: flex;
      align-items: center;
      h3 {
        width: 33.3%;
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h3 + h3 {
        border-left: 1px solid #eee;
      }
    }

    .list {
      position: relative;
      max-height: calc(100vh - 15vw);
      overflow: scroll;
    }
    ul {
      li {
        height: 100px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        border-top: 1PX solid white;
      }
      .btm-tips {
        margin: 10px 0;
        text-align: center;
      }
    }
    .flex-content {
      text-align: center;
      color: white;
      padding-bottom: 10vh;
      // background-color: yellowgreen;
    }
    button {
      margin: 5px 0;
      padding: 5px 15px;
      border-radius: 5px;
    }
    footer {
      height: 10vh;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #888;
      color: white;
    }
  }
}